
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

@media (max-width: 499px) {
    #container{
         min-width: 300px;
         max-width: 300px;
    }

    button{
        font-size:50px ;
        margin-top: 30px;
        color: white;
        background-color: rgb(207, 74, 96);
        border: none;
        height: 120px;
        width: 200px;
    }
  }


#container{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    text-align: center;
    width: 500px;
    min-height: 600px;
    background-color: white;
    border:1px solid black;
    border-radius: 20px;

    /* display: flex ; */
    /* flex-direction: column;
    justify-content:flex-start; */


}
button{
    font-size:50px ;
    margin-top: 30px;
    color: white;
    background-color: rgb(207, 74, 96);
    border: none;
    height: 60px;
    width: 60px;
}
/* gambiarra muda isso depois*/

 #footer input{
    /* position: absolute;
    bottom: 20px; */
    font-size: xx-large;
    margin-top: 50px;
    width:50% ;
    height: 50px;
    background-color:rgb(207, 74, 96);
    border: none;
    color: white;



 }



