@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.taskelements{
    font-family: 'Lato', sans-serif;
    border: 2px black solid;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 67px;
    align-items: center;
    margin-top: 25px;
}

.taskGeneral:hover .buttons{
    display: block;

}


.taskGeneral:hover .descricao{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
}

.descricao{
    display: none;
    font-family: 'Lato', sans-serif;
    border: 2px black solid;
}

.buttons{
    
    height: 100%;
    display: none;
   float: right;
    color: white;
    background-color: red;
    margin-right: 0%;
    
}

.title{
    width: 80%;
    text-align: center;
}

.deadline{
   margin-left: 0%;
   padding-left: 0px;
    border-right: 1px solid black;
    width: 20%;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
